<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>注册</title>
</head>
<body>
  <div id="app">
      用户名: <input v-model="username" type="text"> <br>
      密码: <input v-model="password" type="password"> <br>
      确认密码：<input v-model="passwordAgain" type="password"> <br>
      <input @click="signup" type="submit" value="确定">
  </div>

  <script src="https://files.jser.im/vue.js"></script>
  <script src="https://files.jser.im/axios.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        username: '',
        password: '',
        passwordAgain: ''
      },
      methods: {
        signup: function () {
          console.log(this.username);
          console.log(this.password);
          console.log(this.passwordAgain);

          if (this.username.length < 4) {
            alert('用户名最少为4位');
            return;
          }

          if (this.password !== this.passwordAgain) {
            alert('两次输入的密码不一致');
            return;
          }

          axios.post('/signup', {username: this.username, password: this.password}).then(function (response) {
            if (response.data.message === '用户创建成功') {
              location.href = '/signin.html';
              return;
            }

            alert(response.data.message);
          });
        }
      }
    });
  </script>
</body>
</html>
